*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    background-color: red;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    padding-top: 100px;
}
.overall{
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.task-table, th, td{
    border: 2px solid black;
    padding: 8px;
}
.task-table{
    border-collapse: collapse;
}

.task-table td button{
    height: 50px;
    width: 50px;
    border: none;
    font-size: 20px;
}

.add-task-btn{
    margin: auto;
    padding: 8px 18px;
    background-color: rgb(228, 80, 80);
    border: none;
    border-radius: 3px;
}

.add-task-btn:hover{
    background-color: #003c9b;
    color: white;
}

.edit-delete-btn{
    display: flex;
    gap: 5px;
    padding: 5px;
    border: none;
}

@media screen and (max-width:400px){
    .overall{
        padding: 0px;
    }
    .task-table{
        display: block;
        margin: 0px;
        overflow-x: auto;
    }
}

