*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    background-color: rgb(188, 151, 151);
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    padding: 20px;
    padding-top: 100px;
}

.signin-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    background-color: rgb(138, 137, 137);
    padding: 30px 30px;
    border-radius: 5px;
}
.signin-form> input{
    width:250px;
    padding: 8px;
    border: none;
    border-radius: 3px;
}
.signin-form>button{
    background-color: rgb(255, 251, 251);
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
}

.signin-form>button:hover{
    background-color: #003c9b;
    color: white;
}